
 body{
  background-color:#232323;
  font-family:'Oswald',sans-serif;
  margin:0;
 }
 
 .square
 {
  width:20%;
  padding-top:30%;
  margin:1.66%;
  background-color:purple;
  margin-top: 60px;
  float:left;
  border-radius:25px;
  transition:background-color 0.5s;
  -webkit-transition:background-color 0.5s;
  -moz-transition:background-color 0.5s;
    
 }

 .container
 {
 max-width:600px;
 margin:0 auto;
 padding-top:1.66%; 


 }
 h1
 {
  color:white;
  text-align:center;

 }
 
 header{
  width:100%;
  padding:50px;
  padding-bottom:50px;
  color:white;
 background-color:blue;
  margin:0;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  ;

 }

 h1{
  margin-bottom:5px;
 }
 #reset{
  margin-left:32%;
  margin-top:5px;
  height: 100%;
 }
/*
 .selected{
  background-color:steelblue;
  color:white;
 }
*/
 .option{
  background-color:white;
  padding:20px 0;
  margin:0;
  height:100%
 }

 button{
  border:none;
  background:none;
  height:200%;
  color:black;
  transition:all 0.5s ;
  -web-transmission:all 0.5s;
  outline:none
 }
 button:hover{
  color:white;
  background-color:steelblue;
 }
/*/*
#header
{ background-color:blue;
   font-size:30px;
   border-radius:0.5cap;
   height:250px;
  text-align:center;
  transition:all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
 ;

 color:white;
  

   
}
#middle{
  background-color:white;
   font-size:30px;
   border-radius:0.5cap;
   height:50px;
 text-align: center;
  color:blue;
   

}
#end{
 background-color:blue;
   font-size:30px;
   border-radius:0.5cap;
   height:330px;
   align-items:center;
   padding-left: 200px;
   padding-right: 200px;
}
#goal{
 background-color:white;
 font-size:30px;
   border-radius:0.5cap;
  
}
#square{
  text-align:center;
  width:15%;
  height:12%;
  padding-top:10%;
  margin:1.66%;
  float:left;
  background-color:purple;
  border-radius:30px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
 
}
hidden code
</style>*/
